# GGE-5405/6505 Big Data

# **Intro to Python - Part 2**

## **Loops**
Looping means repeating something over and over until a particular condition is satisfied or until that object is complete. It is useful to run the same operation on many different values.

There are two types of loops in Python:



```
1) for loop : for loops are traditionally used when you have a block of code which you want to repeat a fixed number of times. 
you can use it for range, lists, tuples,....

    for var in iterable:
      statement
      
2) While loop : A "While" Loop is used to repeat a specific block of code an unknown number of times

    while condition:
      statement
```

In [35]:
# for loop
for letter in "the weather is nice today":
  print(letter)

t
h
e

w
e
a
t
h
e
r

i
s

n
i
c
e

t
o
d
a
y

Note that the body of the loop is **indented** so that it can all run together.

In [36]:
# How many times is the loop executed?
word = 'hello'
for char in word:
    print(char)

h
e
l
l
o

In [37]:
# iterate through a list
names = ["Mary", "George" , "Ali", "Sher"]
for name in names:
  print(name) # body of loop is indented

Mary
George
Ali
Sher

In [38]:
# Write a loop that calculates the sum of elements in a list
numbers = [254, 366, 68]
sum = 0
for num in numbers:
    sum += num # same as sum = sum + num
print(sum)

688

The `range(start, stop)` function creates a list of integers between the start and stop values. In the example below, range(start, stop) iterates through the range of values starting with the 'start' value up to, but NOT INCLUDING the 'stop' value.

In [39]:
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

Alternatively,`range(num)` creates a zero-based list up to, but NOT INCLUDING, the specified value (num).

In [40]:
# if only one value given, start value assumed to be zero
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [41]:
# you can also use len() to determine how many values to iterate through
for i in range(len(names)):
  print(i)

0
1
2
3

To return the *value* of a list, you can use indexing. In the example above, 'i' is a value from 0 to 3 (remember, python indexing starts at zero). This represents the index position of the elements in list 'names'. To get the *value* of the element in the list, you can use the index 'i' to extract it from the list.

In [42]:
# extract the value of each element in the list
for i in range(len(names)):
  print(names[i])

Mary
George
Ali
Sher

The function `enumerate()` is used to return both the index and the value for each iteration. It takes a sequence (like a list) and returns a sequence of the same length, where each element is composed of an index and a value.

In [43]:
# in each iteration, assign the index to 'count' and its value to 'name'
for count, name in enumerate(names):
  print(count, name)

0 Mary
1 George
2 Ali
3 Sher

In [44]:
# while loop
i = 1
while i <= 10:
   print(i)
   i += 1 # same as i = i + 1
print("Done")

1
2
3
4
5
6
7
8
9
10
Done


`break` exits a `while` or `for` loop immediately

In [46]:
# Break and while conditional
print("Break and while conditional")
count = 0
while True:
    # You may think this would run forever, but ...
    print(count)
    count += 1
    if count >= 5:
        break

Break and while conditional
0
1
2
3
4

See what happens when you comment out the last two lines of the above code. 

Note: to comment out lines of code, highlight the code, hold down CTRL, then press forward slash. Repeat to reverse the procedure.

Also Note: to stop a code from running, click on the stop button on the top left corner of the code cell.

## **Conditional Statements**
Conditional statements allow a computer to make decisions based on whether some specified conditions are True or False.

For these statements, we can add to the list of boolean operators:` and, or and in.`

These can be used to create nuanced comparisons using `if, elif and else`.

For instance:
```
I want to go out

If it is sunny (condition 1)

  I bring sunglasses (statement 1)

Otherwise if it is cloudy (condition 2)

  I bring a jacket (statement 2)

otherwise

I take a cab (statement 3)



1)
If condition1:
  statement1

2)
If condition1:
  statement1
else:
  statement3
  
3)
If condition1:
  statement1
elif condition2:
  statement2
else:
  statement3

```

Let's format the following in code:

<img src="https://andreareid.github.io/Data/images/if_else.png" width="600" height="400" />

In [47]:
number = 15

if number == 10:
  print('Number is 10')
else:
  print('Number is not 10')
print('fini')

Number is not 10
fini

In the above example, we know that the number is not 10. We can add other conditional statements to determine if the number is less than or greater than 10.

In [48]:
if number == 10:
  print('Number is 10')
elif number > 10:
  print('Number is greater than 10')
else:
  print('Number is less than 10')
print('fini')

Number is greater than 10
fini

In [49]:
# Using 'and' and 'or' boolean operators
x = 2
y = 10
if x > 2:
    print("x > 2")
elif x == 2 and y > 50:
    print("x == 2 and y > 50")
elif x < 10 or y > 50:
    # But, remember, you don't know WHICH condition was True
    print("x < 10 or y > 50")
else:
    print("Nothing worked.")

x < 10 or y > 50

## **Functions**

We are already familiar with built-in python functions, such as print(), but now let's have a look at how we can create our own functions in python. 

A function is a block of code that only runs when it is called. Python functions return a value using a return statement, if one is specified. A function can be called anywhere after the function has been declared. You can use functions for organizing your codes.

The general format is:



```
def Name_of_Function (parameters):
  print()
```
How to call the function:
```
Name_of_Function(param)

```

In [50]:
# create the function
def employee(name, age):
  print(name + " is " + str(age))

In [51]:
# call the function
employee("Mike", 20)

Mike is 20

In [52]:
# Return Statement: breaks the function
def area(num):
  return num * num

In [53]:
area(5)

25

A function can be written to call itself within the function, a process known as recursion. Careful that the function will eventually stop! Check out this example on w3schools: https://www.w3schools.com/python/gloss_python_function_recursion.asp

In [ ]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1) # if you remove -1, there will be a recursion error
    print(result)
  else:
    result = 0
  return result

print("\nRecursion Example Results\n") # note, you can use \n to go print on next line

tri_recursion(5)

## **Working with Modules**
A Python module is a file containing Python definitions and statements. A module can define functions, classes, and variables. A module can also include runnable code.
we can consider a module to be the same as a code library or a file that contains a set of functions that you want to include in your application.

Example: Python math module includes common mathematical functions, such as trigonometric functions, representation functions, logarithmic functions, etc.

First let's try out some existing python functions.

In [54]:
# return the absolute value of a number
print(abs(-4))

4

In [55]:
# return the power
print(pow(2,3))

8

In [56]:
print(sqrt(2))

NameError: ignored

In the above example, a NameError is passed. The function sqrt() does not exist. The python Math Module expands existing mathematical functions for use in python.

To load a module that has already been installed (the Math module comes pre-installed!), we can use 'import'.

In [57]:
import math

Now we can use the sqrt() function offered by the math module. However, we need to specifiy the module we are calling the function from first by prefixing the function name with the module name and separating each by a point, like so:

`module_name.function_name(parameters)`

In [58]:
# sqrt() is part of the math module
math.sqrt(2)

1.4142135623730951

A Python library is a collection of related modules. It contains bundles of code that can be used repeatedly in different programs. It makes Python Programming simpler and convenient for the programmer. It also eliminates the need to code from scratch.

Some useful libraries are listed below, many of which we will be exploring throughout the course:


**A. Data Cleaning and Data Manipulation**

1.   Pandas
2.   Numpy
3.   Spacy
4.   SciPy


**B. Data Gathering**

1. Beautiful Soap
2. Scrapy
3. Selenium


**C. Data Visualisation**

1. Matplotlib
2. Seaborn
3. Bokeh
4. Plotly


**D. Data Modelling**

1. Scikit-Learn
2. PyTorch
3. TensorFlow
4. Theano

**E. Image Processing**

1. Scikit-Image
2. Pillow
3. OpenCV

##**Getting Input From Users**
`input ( )` : This function first takes the input from the user and then evaluates the expression.

In [59]:
num = input ("Enter number :")
print(num)

Enter number :6
6

In [60]:
name1 = input("Enter name : ")
print("My name is "+ name1 + " and I am "+ num + " years old!")

Enter name : andrea
My name is andrea and I am 6 years old!

In [61]:
type(num)

str




Ok, how about calculation?

In [62]:
num1 = input("Enter a number:")
num2 = input("Enter another number:")
result = num1+num2
print(result)

Enter a number:1
Enter another number:2
12

In [63]:
num1 = input("Enter a number:")
num2 = input("Enter another number:")
result = int(num1)+int(num2)
print(result)

Enter a number:1
Enter another number:2
3



##**Example: A Simple Calculator in Python**

Putting it all together: A Simple Calculator in Python


```
# This is formatted as code
```

In [64]:

# This function adds two numbers
def add(x, y):
    return x + y

# This function subtracts two numbers
def subtract(x, y):
    return x - y

# This function multiplies two numbers
def multiply(x, y):
    return x * y

# This function divides two numbers
def divide(x, y):
    return x / y

print("Select operation.")
print("1.Add")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")

while True:
    # take input from the user
    choice = input("Enter choice(1/2/3/4): ")

    # check if choice is one of the four options
    if choice in ('1', '2', '3', '4'):
        num1 = float(input("Enter first number: "))
        num2 = float(input("Enter second number: "))

        if choice == '1':
            print(num1, "+", num2, "=", add(num1, num2))

        elif choice == '2':
            print(num1, "-", num2, "=", subtract(num1, num2))

        elif choice == '3':
            print(num1, "*", num2, "=", multiply(num1, num2))

        elif choice == '4':
            print(num1, "/", num2, "=", divide(num1, num2))
        
        # check if user wants another calculation
        # break the while loop if answer is no
        next_calculation = input("Let's do next calculation? (yes/no): ")
        if next_calculation == "no":
          break
    
    else:
        print("Invalid Input")

Select operation.
1.Add
2.Subtract
3.Multiply
4.Divide
Enter choice(1/2/3/4): 1
Enter first number: 2
Enter second number: 3
2.0 + 3.0 = 5.0
Let's do next calculation? (yes/no): no

##**Working with Files**


To read a text file in Python, you follow these steps:

```
1 - First, open a text file for reading by using the open() function.
2 - Read text from the text file using the file read(), readline(), or readlines() method of the file object.
3 - close the file using the file close() method.

The following table shows available modes for opening a text file:

Mode	Description
'r'  Open a text file for reading text
'w'  Open a text file for writing text (creates new file or overwrites exisiting one)
'a'  Open a text file for appending text (e.g., to existing content)
"x"  Creates the specified file, returns an error if the file exists
```

In [65]:
# create a new file
f = open("demofile.txt", "w") # hover over open() to view documentation

In [68]:
# write new contents.
f.write("I can write some text here")

26

In [69]:
# close and re-open using "r" to read file
f.close()
f = open("demofile.txt", "r")
f.read()

'I can write some text hereI can write some text hereI can write some text here'

In [70]:
f.close()

Note that we can only write strings to the file. What if we want to add elements from a list?

In [71]:
# create an empty list and fill it using a for loop
names = ['Gregory', 'Jacques', 'Sian', 'Ali']

In [72]:
# open file in write mode
with open('demofile.txt', 'w') as f:
    for name in names:
        # use \n to write each item on a new line
        f.write(name + "\n")
    print('Done')
f.close()

Done

To view the results, open the text document in the Files pane on the left of the display. Note that the /n is translated to new lines for each element.

In [73]:
f = open("demofile.txt", "r")
f.read()

'Gregory\nJacques\nSian\nAli\n'

In [74]:
f.close()

In [76]:
# append a new name to the file
f = open("demofile.txt", "a")
f.write("Heidi\n")
f.close()

Try out the different ways you can read the file:

In [81]:
f = open("demofile.txt", "r")
#f.read()

#f.readline()
#f.readlines()
#f.readlines()[1]

for name in f.readlines():
  print(name)

Gregory

Jacques

Sian

Ali

Heidi

Heidi

In [82]:
f.close()

Now let's create a directory and some demo files for practice!

In [83]:
# Create a new directory
!mkdir DemoFiles

In [84]:
# Create some demo files
f1 = open("DemoFiles/demofile1.txt", "a")
f2 = open("DemoFiles/demofile2.txt", "a")
f3 = open("DemoFiles/demofile3.csv", "a")

In [85]:
# Add content to the demo files
f1.write("Gregory\nJacques\nSian\nAli\n")
f2.write("Pizza\nSoup\nsalad\nTaco")
f3.write("1,2,3,4")
f1.close()
f2.close()
f3.close()

In [86]:
# create list of files using os module (more on modules below!)
import os
files = os.listdir("/content/DemoFiles")

In [87]:
files

['demofile2.txt', 'demofile3.csv', 'demofile1.txt']

In [88]:
# Select only text files
text_files = [] # create an empty list to store only text files
for file in files:
  if ".txt" in file: # 'in' is a boolean operator here
    text_files.append(file)
print(text_files)

['demofile2.txt', 'demofile1.txt']